{% extends 'base.html' %}
{% set active_page = "document{{document.id}}" %}
{% block title %}
{{document.name}}
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">

{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}
<div class="content">
    <h1 style="text-align: center">{{document.name}}</h1>
    <pre>{{text}}</pre>
    <img class="original_image" src="/static/uploads/{{document.image_original}}">



    <form action="/document/{{document.id}}" method="POST">
        <input  type="submit" name="Process original image" value="Process original image"/>
    </form>
</div>

{% endblock %}