{% extends 'base.html' %}
{% set active_page = "folder{{folder.id}}" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">

{% endblock %}

{% block title %}
OCR Database Folders
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}


{% block content %}
<div class="content">
    <h1 style="text-align: center">Folder: {{folder.name}}</h1>
    <br>

    <form action="/folder/{{folder.id}}/create_new_document">
        <input type="submit" value="Add new Document to folder"/>

    </form>
    <br>


    <table>
        <tr>
            <th>Document</th>
            <th>Page Number</th>
            <th>Uploader</th>
            <th>Creation Date</th>

            <th>Action</th>


        </tr>
        {% for document in documents %}
        <tr>
            <td>{{ document.name }}</td>
            <td>{{ document.page_number }}</td>
            <td>{{ document.uploader }}</td>
            <td>{{ document.creation_date }}</td>
            <td>
                <a href="/document/{{document.id}}">Open</a>
                <br>
                <a href="/delete/{{folder.id}}">Delete</a>
                <br>
                <a href="/update/{{folder.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}