{% extends 'base.html' %}

{% block head %}
<title>OCR Database</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">{{folder.name}}</h1>


    <table>
        <tr>
            <th>Document</th>
            <th>Page Number</th>
            <th>Uploaded by</th>
            <th>Creation Date</th>

            <th>Action</th>


        </tr>
        {% for document in documents %}
        <tr>
            <td>{{ document.name }}</td>
            <td>{{ document.page_number }}</td>
            <td>{{ document.uploader }}</td>
            <td>{{ document.creation_date }}</td>
            <td>
                <a href="/document/{{document.id}}">Open</a>
                <br>
                <a href="/delete/{{folder.id}}">Delete</a>
                <br>
                <a href="/update/{{folder.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
  <a href="/folder/{{folder.id}}/create_new_document">Create New Document</a>
</div>

{% endblock %}