{% extends 'base.html' %}

{% block head %}
<title>OCR Database</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">OCR Database</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Uploaded by</th>
            <th>Creation Date</th>
            <th>Action</th>


        </tr>
        {% for folder in folders %}
        <tr>
            <td>{{ folder.name }}</td>
            <td>{{ folder.uploader }}</td>
            <td>{{ folder.creation_date }}</td>
            <td>
                <a href="/folder/{{folder.id}}">Open</a>
                <br>
                <a href="/delete/{{folder.id}}">Delete</a>
                <br>
                <a href="/update/{{folder.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>

{% endblock %}